.page-product
  padding-top 3rem
  .product-header
    width 100%
    height 28rem
    background-size cover
    background-repeat no-repeat
    background-image url('../image/homeBg.png')
    color #ffffff
    .product-header-title
      width 65%
      text-align center
      color #ffffff
      @media only screen and (max-width: 768px)
        width 100%
        font-size 1.4rem
    .product-header-content
      width 60%
      margin 1.2rem 0rem
      text-align center
      font-size 1rem
      font-weight 300
      @media only screen and (max-width: 768px)
        width 98%
  .product-area
    background #ffffff
    .intro-content
      background-size cover
      background-repeat no-repeat
      background-image url('../image/prodIntro.png')
    .intro-detail
      padding 1rem 10%
      @media only screen and (max-width: 768px)
        padding 1rem 0.1rem
    .arch-area
      margin-top 2rem
      background rgb(247, 248, 249)
    .arch-pic,.intro-pic
      img
        width 80%
        height auto
        margin 0 auto
    .arch-content
      font-size 0.9rem
  .service-power
    .service-title
      padding-left 10vw
      padding-bottom 2rem
      @media only screen and (max-width: 768px)
        padding 0.2rem
    .service-padding
      padding 1rem 10vw
      background rgb(247, 248, 249)
    .service-content
      .power-item
        margin 1rem 0rem
        padding-left 1rem
        @media only screen and (max-width: 768px)
          text-align center
      .item-title
        color #2e5890
  .product-scene
    .scene-item
      height 30rem
      padding 3rem
      color #ffffff
      background-size cover
      background-color #6B92C2
      background-repeat no-repeat
      border 4px solid #fff
      display flex!important
      flex-direction column
  .core-value
    padding-top 2rem
    .value-item
      height 17rem
      padding 1rem
      color #ffffff
      background-color #24A0E4
      &:nth-of-type(odd)
        background #1E67AD
    .scene-row
      margin: 1rem 8vw
    .value-icon
      height 3rem
      width 3rem
      background #ffffff
      border-radius 50%
.highlight-content
  width 60%
  text-align center
  font-size 0.8rem
  padding 0.4rem 0
.product-advance
  width 100%
  background #3978c2
  color #ffffff
  padding 1rem
  .advance-icon
    height 3rem
    width 3rem
    border 1px solid #ffffff
    border-radius 50%
  .advance-item
    padding 1.2rem 0
  .advance-name
    margin 0.4rem 0
.product-experience
  background linear-gradient(to right, #55BDFA, #0059B3)
  padding 3.5rem 0.12rem 8rem
  color #ffffff
