.page-home
  padding-top 3rem
  .home-header
    width 100%
    height 35rem
    background-size cover
    background-repeat no-repeat
    background-image url('../image/homeBg.png')
    color #ffffff
    .home-header-title
      margin-top 5rem
      width 65%
      text-align center
      color #ffffff
      @media only screen and (max-width: 768px)
        width 100%
        font-size 1.4rem
    .home-header-content
      width 60%
      margin 1.2rem 0rem
      text-align center
      font-size 1rem
      font-weight 300
      @media only screen and (max-width: 768px)
        width 98%
    .home-header-banner
      width 100%
      margin 2rem 0
      height 15rem
      display flex
      justify-content center
      align-items center
      .banner-item
        width 33%
        height 80%
        border-radius 0.5rem
        background-color #7D9BC7
        opacity 0.6
        transition opacity 1s
        display flex
        flex-direction column
        justify-content space-between
        cursor pointer
        @media only screen and (max-width: 768px)
          height 60%
      .banner-active
        height 95%
        margin-bottom 2.8%
        margin-left -5%
        margin-right -5%
        z-index 99
        padding 2rem
        background-image url('../image/homeBannerBg.svg')
        background-repeat no-repeat
        background-size contain
        background-position right bottom
        opacity 1
        transition margin-right 1s
        @media only screen and (max-width: 768px)
          height 70%
          padding 2rem 0.2rem
          text-align center
      .active-content-bottom
        font-size 1.5rem
        width 40%
        @media only screen and (max-width: 768px)
          font-size 0.8rem
          width 100%
  .home-highlight
    width 100%
    height auto
    background-image url('../image/right-bottom-line.svg')
    background-repeat no-repeat
    background-size 12rem
    background-position bottom right
    @media only screen and (max-width: 768px)
      background-size 6rem
    .top-line
      background-image url('../image/left-top-line.svg')
      background-repeat no-repeat
      background-size 12rem
      background-position top left
      @media only screen and (max-width: 768px)
        background-size 6rem
    .highlight-title
      color #2E5890
      font-size 1.6rem
      font-weight 800
    .highlight-detail
      padding 1rem 0rem
      width 100%
      .detail-item
        border-left 0.14rem solid #EBEBEB
        margin 0.2rem 0
    .highlight-border
      width 2rem
      height 0.1rem
      background #FF6D19
      overflow hidden
.home-advance
  width 100%
  background-image url('../image/bCloud.png')
  background-repeat no-repeat
  background-size 8rem
  background-color #FAFAF9
  background-position top right
  margin-top 1rem
  padding 1rem
  .advance-icon
    height 3rem
    width 3rem
    border 1px solid #ffffff
    border-radius 50%
  .advance-item
    padding 1.2rem 0
  .advance-name
    margin 0.4rem 0
.home-experience
  background-image url('../image/homeExp.svg')
  background-repeat no-repeat
  background-size cover
  background-position-y 80%
  padding 3.5rem 0.12rem 8rem
  color #ffffff
.slider-title
  margin-bottom -2rem !important
  align-items flex-start
  @media only screen and (max-width: 768px)
    margin 0.1rem !important
    align-items center !important
.left-icon
  color #0059B3
  font-size 2rem
  cursor pointer
.right-icon
  color #0059B3
  font-size 2rem
  cursor pointer
.partner-area
  background-image url('../image/homePartner.png')
  background-repeat no-repeat
  background-size contain
  background-position bottom
  padding 2rem
  .partner-item
    display flex !important
    width 100%
    flex-direction row !important
    justify-content space-between
    @media only screen and (max-width: 768px)
      flex-direction column !important
  .partner-item-content
    display flex !important
    width 60%
    height 100%
    align-items center
    @media only screen and (max-width: 768px)
      width 100% !important
  .partner-item-name
    margin-top 1rem
    margin-right 1rem
    align-self flex-end
    white-space nowrap
  .partner-item-src
    width 40%
    height 100%
    @media only screen and (max-width: 768px)
      width 100% !important
