.page-about
  overflow-y auto
  overflow-x hidden
  .about-header
    width 100%
    height 30rem
    background-size cover
    background-repeat no-repeat
    background-image url('../image/aboutBgmin.png')
    color #ffffff
    .about-header-title
      margin-top 5rem
      width 65%
      text-align center
      color #ffffff
      @media only screen and (max-width: 768px)
        width 100%
        font-size 1.4rem
    .about-header-content
      width 60%
      margin 1.2rem 0rem
      text-align center
      font-size 1rem
      font-weight 300
      @media only screen and (max-width: 768px)
        width 98%
  .about-content
    background-image url('../image/waveDot.png')
    background-repeat no-repeat
    background-size 12rem
    background-position bottom right
    padding-bottom 6rem
    .comp-src
      height 25rem
    .leftBg
      background-image url('../image/topBird.png')
      background-repeat no-repeat
      background-size 6rem
      background-position bottom left
      padding-bottom 6rem
    .news-item
      background #ebebeb
      margin 1rem
      padding 1rem
    .news-content
      margin 0.8rem 0rem
      font-size 0.8rem
    .news-bottom
      font-size 0.8rem
      color rgba(0, 0, 0, 0.65)
  .about-news
    .ant-list-item
      border-bottom 1px solid #f0f0f0
      background #EBEBEB
      padding 10px
      margin-bottom 10px
  .omit-2
    overflow hidden
    text-overflow ellipsis
    display -webkit-box
    -webkit-line-clamp 2
    -webkit-box-orient vertical
  .news-item-content
    color rgba(0, 0, 0, 0.65)
    margin 0.5rem 0
  .news-item-title
    color rgba(0, 0, 0, 0.65)
