.page-customer
  padding-top 3rem
  .customer-header
    width 100%
    height 30rem
    background-size cover
    background-repeat no-repeat
    background-image url('../image/customerBg.png')
    color #ffffff
    .customer-header-title
      margin-top 5rem
      width 65%
      text-align center
      color #ffffff
      @media only screen and (max-width: 768px)
        width 100%
        font-size 1.4rem
    .customer-header-content
      width 60%
      margin 1.2rem 0rem
      text-align center
      font-size 1rem
      font-weight 300
      @media only screen and (max-width: 768px)
        width 98%
  .case-desc
    padding 2rem 5vw
    @media only screen and (max-width: 768px)
      padding 2rem 0.2rem
    .case-item
      background #e0e0e0
      padding 1rem
  .customer-earns
    padding 2rem 10vw
    @media only screen and (max-width: 768px)
      padding 2rem 0.2rem
    .earn-item
      border-right 0.15rem solid #1D5894
      @media only screen and (max-width: 768px)
        border none
