.page-solution
  overflow-y auto
  overflow-x hidden
  .solution-header
    width 100%
    height 28rem
    background-size cover
    background-repeat no-repeat
    background-image url('../image/solutionBg.png')
    color #ffffff
    .solution-header-title
      width 65%
      text-align center
      color #ffffff
      @media only screen and (max-width: 768px)
        width 100%
        font-size 1.4rem
    .solution-header-content
      width 60%
      margin 1.2rem 0rem
      text-align center
      font-size 1rem
      font-weight 300
      @media only screen and (max-width: 768px)
        width 98%
  .pain-points
    background-image url('../image/pic_wave.jpg')
    background-repeat no-repeat
    background-size 14rem
    background-position bottom right
    @media only screen and (max-width: 768px)
      background-size 4rem
    .subBg
      background-image url('../image/bCloud.png')
      background-repeat no-repeat
      background-size 6rem
      background-position top left
      padding-bottom 2rem
      width 100%
      @media only screen and (max-width: 768px)
        background-size 3rem
        padding-bottom 0.5rem
    .points-row
      width 80%
      padding-bottom 2rem
    .pain-item-title
      font-weight 500
      font-size 1.2rem
      @media only screen and (max-width: 768px)
        text-align center
    .pain-item-content
      padding 0.5rem 1rem 0rem 0rem
      @media only screen and (max-width: 768px)
        text-align center
    .pain-item
      padding-top 1rem
    .right-border
      border-right 1px solid #1D5894
      @media only screen and (max-width: 768px)
        border none
  .solution-area
    background #EBEBEB
    padding 4rem
    background-image url('../image/threeWaveLine.png')
    background-repeat no-repeat
    background-size 10rem
    background-position 0% 98%
    @media only screen and (max-width: 768px)
      background-size 4rem
    @media only screen and (max-width: 768px)
      padding 2rem 0.2rem
    .solution-pic
      img
        width 100%
        height auto
  .advantage-bg
    background-image url('../image/pic_bg.jpg')
    background-repeat no-repeat
    background-size cover
  .advantage-area
    background-image url('../image/montainSea.png')
    background-repeat no-repeat
    background-size 6rem
    background-position top right
    @media only screen and (max-width: 768px)
      background-size 4rem
    .subBg
      background-image url('../image/threeBird.png')
      background-repeat no-repeat
      background-size 6rem
      background-position 10% 0%
      width 100%
      @media only screen and (max-width: 768px)
        background-size 3rem
  .case-area
    background #EBEBEB
    background-image url('../image/rightMontainSun.png')
    background-repeat no-repeat
    background-size 14rem
    background-position bottom right
    @media only screen and (max-width: 768px)
      background-size 7rem
    .solution-slider
      background-image url('../image/twoSmallCloud.png')
      background-repeat no-repeat
      background-size 8rem
      background-position top left
      @media only screen and (max-width: 768px)
        background-size 4rem
    .case-main
      padding 1rem
    .solotion-item-content
      display flex
      flex-direction row
      justify-content space-between
      padding-top 2rem
      @media only screen and (max-width: 768px)
        flex-direction column
      .common-btn
        @media only screen and (max-width: 768px)
          align-self center
          margin-top 1rem
      .case-pic
        padding-right 2rem
        width 40%
        @media only screen and (max-width: 768px)
          width 100%
          padding 0.1rem
        img
          width 100%
          height 13rem
      .case-content
        width 60%
        padding-left 5%
        @media only screen and (max-width: 768px)
          width 100%
          padding 0.1rem
        button
          margin-top 1rem
.solution-slider
  width 90vw
  @media only screen and (max-width: 768px)
    width 80vw
