.page-solution
  overflow auto
  .solution-header
    width 100%
    height 28rem
    background-size cover
    background-repeat no-repeat
    background-image url('../image/solutionBg.png')
    color #ffffff
    .solution-header-title
      width 65%
      text-align center
      color #ffffff
      @media only screen and (max-width: 768px)
        width 100%
        font-size 1.4rem
    .solution-header-content
      width 60%
      margin 1.2rem 0rem
      text-align center
      font-size 1rem
      font-weight 300
      @media only screen and (max-width: 768px)
        width 98%
  .pain-points
    padding 2rem 10vw
    @media only screen and (max-width: 768px)
      padding 2rem 0.2rem
    .point-item
      border-right 1px solid #1D5894
      @media only screen and (max-width: 768px)
        border none
  .solution-area
    background #EBEBEB
    padding 4rem
    @media only screen and (max-width: 768px)
      padding 2rem 0.2rem
    .solution-pic
      img
        width 100%
        height auto
  .advantage-area
    background linear-gradient(to right, #55BDFA, #0059B3)
    color #ffffff
    padding 4rem 2rem
    @media only screen and (max-width: 768px)
      padding 2rem 0
  .case-area
    padding 4rem 2rem 0
    @media only screen and (max-width: 768px)
      padding 2rem 0
    .case-main
      padding 1rem 5vw
    .case-pic
      img
        width 100%
        height auto
