.page-solution
  overflow auto
  .solution-header
    width 100%
    height 28rem
    background-size cover
    background-repeat no-repeat
    background-image url('../image/solutionBg.png')
    color #ffffff
    .solution-header-title
      width 65%
      text-align center
      color #ffffff
      @media only screen and (max-width: 768px)
        width 100%
        font-size 1.4rem
    .solution-header-content
      width 60%
      margin 1.2rem 0rem
      text-align center
      font-size 1rem
      font-weight 300
      @media only screen and (max-width: 768px)
        width 98%
  .pain-points
    background-image url('../image/waveRight.png')
    background-repeat no-repeat
    background-size 12rem
    background-position bottom right
    @media only screen and (max-width: 768px)
      background-size 4rem
    .subBg
      background-image url('../image/bCloud.png')
      background-repeat no-repeat
      background-size 6rem
      background-position top left
      padding-bottom 2rem
      width 100%
      @media only screen and (max-width: 768px)
        background-size 3rem
    .points-row
      width 80%
      padding-bottom 2rem
    .point-item
      border-right 1px solid #1D5894
      @media only screen and (max-width: 768px)
        border none
  .solution-area
    background #EBEBEB
    padding 4rem
    background-image url('../image/threeWaveLine.png')
    background-repeat no-repeat
    background-size 10rem
    background-position 0% 98%
    @media only screen and (max-width: 768px)
      background-size 4rem
    @media only screen and (max-width: 768px)
      padding 2rem 0.2rem
    .solution-pic
      img
        width 100%
        height auto
  .advantage-area
    background-image url('../image/montainSea.png')
    background-repeat no-repeat
    background-size 6rem
    background-position top right
    @media only screen and (max-width: 768px)
      background-size 3rem
    .subBg
      background-image url('../image/threeBird.png')
      background-repeat no-repeat
      background-size 6rem
      background-position 10% 0%
      width 100%
      @media only screen and (max-width: 768px)
        background-size 3rem
  .case-area
    background #EBEBEB
    background-image url('../image/rightMontainSun.png')
    background-repeat no-repeat
    background-size 14rem
    background-position bottom right
    @media only screen and (max-width: 768px)
      background-size 7rem
    .subBg
      background-image url('../image/twoSmallCloud.png')
      background-repeat no-repeat
      background-size 8rem
      background-position top left
      width 100%
      @media only screen and (max-width: 768px)
        background-size 2rem
    .case-main
      padding 1rem
    .case-pic
      padding-right 2rem
      img
        width 100%
        height auto
    .solotion-item-content
      display flex
      flex-direction row
      justify-content space-between
      padding-top 2rem
      @media only screen and (max-width: 768px)
        flex-direction column
      .common-btn
        @media only screen and (max-width: 768px)
          align-self center
          margin-top 1rem
.solution-slider
  width 90vw
  @media only screen and (max-width: 768px)
    width 80vw
